@import url(./style.css);

/* Dark and Light theme */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html[light-mode="light"] {
  --bg1-color: white;
  --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  --border: 1px solid #ecf0f3;
  --meta-col: #444;
  --head-col: black;
  --tint-col: #ecf0f3;
  --black: hsl(0, 3%, 7%);
  .contact-item-link:not(address):is(:hover, :focus) { color:#390374; }

}

html[light-mode="dark"] {
  --bg1-color: #272727;
  --shadow: 0 4px 8px 0 rgba(104, 102, 102, 0.2);
  --border: none;
  --meta-col: rgb(155, 149, 149);
  --head-col: #fff;
  --tint-col: #ecf0f3be;
  --white: hsl(200, 13%, 95%);
  .contact-item-link:not(address):is(:hover, :focus) { color:rgb(5, 228, 217); }

}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

:root {
  --jet: #6c023c;
  --ff-barlow: 'Barlow', sans-serif;
  --fs-4: 2rem;
  --fw-600: 600;
 --transition-1: 0.5s ease;
}

.dropdown1 {
  position: absolute;
  text-align: center;
  padding-left: 37%;
  }

.my_contact {
  color: #4e00bb;
}

.contact_head {
  font-weight: bold;
  font-size: 70px;
  margin-top: -10%;
}
   
.mapbox {
  position: relative;
  height: 600px;
  width: 750px;
  border-radius: 16px;
  margin-bottom: 30px;
  border: 8px solid var(--jet);
  overflow: hidden;
  margin-top:18% ;
}
 
.mapbox figure { height: 100%; }

.mapbox iframe {
  width: 100%;
  height: 100%;
  border: none;
  /* filter: grayscale(1) invert(0); */
  /* filter:grayscale(1) invert(0) */
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 15px;
}


.contact-list{
  padding-top: -58%;
  padding-left: 60%;
}

.contact-item:not(:last-child) { margin-block-end: 30px; }

.contact-icon {
  font-size: 3rem;
  padding: 15px;
  border-width: 0cap;
  color: #4e00bb;
}

.contact-item-title {
  color: var(--white);
  color: var(--black);
  font-family: var(--ff-barlow);
  font-size: var(--fs-4);
  font-weight: var(--fw-600);
  
}

.contact-item-link { transition: var(--transition-1); }

.calender{
  font-size: 5rem;
  padding: 15px;
  border-width: 0cap;
  color: #a876ed;
  
}



