@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

html[light-mode="light"] {
  --bg1-color: rgba(0, 0, 0, 0);
  --text-color: #6c757d;
  --shadow-col1: #babdc2;
  --shadow-col2: #ffffff;
  --meta-col: #444;
  --head-col: black;
}

html[light-mode="dark"] {
  --bg1-color: #272727;
  --text-color: #fff;
  --bg-txt-img: linear-gradient(315deg, #d5adc8 0%, #ff8489 74%);
  --txt-fill: transparent;
  --shadow-col1: #191919;
  --shadow-col2: #1d1d1d;
  --meta-col: rgb(155, 149, 149);
  --head-col: #fff;
  
}

html {
  overflow-x: hidden;
}
/*Main section*/

@media (max-width: 766px) {
  .dropdown {
    position: absolute;
    padding-right: 3.5rem;
    margin-bottom: 100%;
  }
  .godown {
    z-index: 1;
    padding-top: 8rem;
    padding-left: 3.3rem;
  }
}
.head-upper {
  background: var(--bg-txt-img);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--txt-fill);
}

section > div {
  padding-top: 7rem !important;
  margin-bottom: 6%;
}

@media only screen and (max-width: 991px) {
  section {
    height: 80vh;
  }
}
@media only screen and (max-width: 867px) {
  section {
    height: 70vh;
  }
}
@media only screen and (max-width: 767px) {
  section {
    height: 95vh;
  }
}
@media only screen and (max-width: 550px) {
  section {
    height: 90vh;
  }
}
@media only screen and (max-width: 400px) {
  section {
    height: 85vh;
  }
}

.main,
.main1 {
  width: 100%;
  padding-left: 4rem;
  padding-right: 4rem;
  margin: 0 auto;
}
.pre-heading{
font-size: larger;
}
.section {
  padding: 20px;
  padding-left: 0;
}
.heading {
  font-size: 55px;
  color: var(--bg-txt-img);
}

.skill_head {
  font-weight: bold;
  font-size: 70px;
}

/*color of skill page headings*/
.my_skill {
  color: #4e00bb;
  font-size: 70px;
}

.sub-heading {
  font-size: 17px;
  margin-top: 20px;
}
@media (max-width: 550px) {
  .main {
    padding-left: 0;
    padding-right: 0;
  }
  .main1 {
    padding-left: 15px;
    padding-right: 15px;
  }
}


/* ----------Animated Skills Bar starts here ---------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.tech-skill{
  color: var(--bg-txt-img);
  font-size: 50px;
  font-weight: bold;
  padding-left: 10%;
  
}
/* html,body{
  display: grid;
  height: 100%;
  place-items: center;
  background: #6665ee;
} */
/* ::selection{
  color: #ca3a3a;
  background: #6665ee;
} */
.skill-bars{
  padding: 25px 30px;
  width: 600px;
  height: 500px;;
  background: #bea7fc;
  box-shadow: 5px 5px 20px rgba(254, 254, 254, 0.2);
  border-radius: 20px;
  margin-bottom: 70%;
}
.skill-bars .bar{
  margin: 20px 0;
}
.skill-bars .bar:first-child{
  margin-top: 0px;
}
.skill-bars .bar .info{
  margin-bottom: 5px;
}
.skill-bars .bar .info span{
  font-weight: 500;
  font-size: 20px;
  color: #000;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100%{
    opacity: 1;
  }
}

.skill-bars{
  margin-top:3%;
}
.skill-bars .bar .progress-line{
  height: 10px;
  width: 100%;
  background: #f596c4;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
              0 1px rgba(71, 1, 42, 0.8);
  animation: animate 1.5s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.bar .progress-line span{
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: #6a0132;
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
.bar .progress-line.html span{
  width: 90%;
}
.bar .progress-line.css span{
  width: 80%;
}
.bar .progress-line.javascript span{
  width: 65%;
}
.bar .progress-line.web-development span{
  width: 55%;
}
.bar .progress-line.cplus span{
  width: 60%;
}
.bar .progress-line.java span{
  width: 70%;
}
.bar .progress-line.dsa span{
  width: 60%;
}
.progress-line span::before{
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000000;
  opacity: 0;
  animation: showText2 0.5s 2.5s linear forwards;
}
.progress-line span::after{
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #2e016e;
  color: #ffffff;
  padding: 1px 8px;
  font-size: 15px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100%{
    opacity: 1;
  }
}
.progress-line.html span::after{
  content: "90%";
}
.progress-line.css span::after{
  content: "80%";
}
.progress-line.javascript span::after{
  content: "65%";
}
.progress-line.web-development span::after{
  content: "55%";
}
.progress-line.cplus span::after{
  content: "60%";
}
.progress-line.java span::after{
  content: "70%";
}
.progress-line.dsa span::after{
  content: "60%";
}


/* Animated circular Bar starts here */

*{
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.roll-skill {
  width: 160px;
  height: 160px;
  position: relative;
  margin: 20px;
  display: inline-block;
}

.outer {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  padding: 20px;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
              -6px -6px 10px -1px rgba(255, 255, 255,0.7);
}

.inner {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 4px 4px 6px -1px rgba(0,0, 0, 0.2),
              inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
              -0.5px -0.5px 0px rgba (255, 255, 255, 1),
              0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
              0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

#number {
  font-weight: 600;
  color: #555;
}

circle {
  fill: none;
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim 2s linear forwards;
}

#java circle {
  stroke: linear-gradient(to right, #f44336 50%, transparent 50%);
}

#python circle {
  stroke: linear-gradient(to right, #2196f3 50%, transparent 50%);
}

#cplus circle {
  stroke: linear-gradient(to right, #4caf50 50%, transparent 50%);
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes anim {
  100% {
    stroke-dashoffset: 165;
  }
}
